./GroenlundAPI/obj/*
./GroenlundAPI/obj/
./GroenlundAPI/config/*
./GroenlundAPI/config/
./GroenlundAPI/DesignTimeBuild/*
./GroenlundAPI/DesignTimeBuild/
./GroenlundAPI/bin/*
./GroenlundAPI/bin/

./GroenlundWS/obj/
./GroenlundWS/bin/
./GroenlundWS/obj/*
./GroenlundWS/bin/*

./GroenlundJWT/obj/
./GroenlundJWT/bin/
./GroenlundJWT/obj/*
./GroenlundJWT/bin/*

./vs/
./vs/*
.vs/GroenlundAPI/config/

.vs/GroenlundAPI/DesignTimeBuild/

.vs/GroenlundAPI/v17/

GroenlundAPI/bin/Debug/net6.0/

GroenlundAPI/obj/Container/

GroenlundAPI/obj/Debug/net6.0/

GroenlundAPI/obj/

GroenlundJWT/obj/Debug/net6.0/

GroenlundJWT/obj/

GroenlundWS/bin/Debug/net6.0/

GroenlundWS/obj/Debug/net6.0/

GroenlundWS/obj/
/.vs
/obj/Debug/.AssemblyReference.cache
/obj/Debug
