./API/obj/*
./API/obj/
./API/bin/*
./API/bin/
./ClassLibrary/obj/
./ClassLibrary/bin/
./ClassLibrary/obj/*
./ClassLibrary/bin/*
./WebScraper/obj/
./WebScraper/bin/
./WebScraper/obj/*
./WebScraper/bin/*
/DataMigration/obj
/DataMigration/obj/*
/DataMigration/bin
/DataMigration/bin/*

./API/config/*
./API/config/
./API/DesignTimeBuild/*
./API/DesignTimeBuild/
./vs/
./vs/*

/.vs
/obj/Debug/.AssemblyReference.cache
/obj/Debug
/ClassLibrary/bin/Debug/net6.0
/API/bin/Debug
/API/obj/Debug
/API/obj
/ClassLibrary/obj
/JWT/bin/Debug/net6.0
/JWT/obj
/WebScraper/bin/Debug/net6.0
/WebScraper/obj
/API/bin/Release/net6.0
/DataMigration/bin/
/ClassLibrary/bin/Release/net6.0
/DataMigration/bin/Release/net6.0
/DataMigration/.vs
/WebScraper/bin/Release/net6.0
/API/bin/Release/net7.0
/ClassLibrary/bin/Release/net7.0
/WebScraper/bin/Release/net7.0

WebScraper/bin/

ClassLibrary/bin/
